player-connection-mode=Listen
player-connection-guid=3549666456
player-connection-debug=0
player-connection-project-name=Random Event
player-connection-ip=192.168.1.102
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2ed9e4048b644161a5760c3e885281e7
