:root {
}

.visualElement {
}

.button {
    background-color: rgb(195, 192, 192);
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button:hover {
    background-color: rgb(137, 32, 231);
    transition-property: all;
}
